/* reset */
body,h1,h2,h3,h4,h5,h6,
ul,ol,li,dl,dt,dd {
  margin: 0;
  padding: 0;
}
ul,ol,li {
  list-style-type: none;
}
a:link { color: #fff; }
a:visited { color: #fff; }
a:hover { color: #fff; text-decoration: none; }
a:active { color: #fff; }

.clearfix:after {
    content: "";
    clear: both;
    display: block;
}

.txt_r { text-align: right;}
.txt_l { text-align: left;}


/* fontの指定 */

body{
  font-family: "游ゴシック" , "Yu Gothic" , "Hiragino Kaku Gothic ProN","メイリオ", sans-serif;
  line-height: 1.6;
  letter-spacing: 0.1em;
}

@font-face {
/* FRENTE H1 */
  font-family: 'frente_h1regular';
  src: url('../webfont/FrenteH1-Regular-webfont.eot');
  src: url('../webfont/FrenteH1-Regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../webfont/FrenteH1-Regular-webfont.woff') format('woff'),
       url('../webfont/FrenteH1-Regular-webfont.ttf') format('truetype'),
       url('../webfont/FrenteH1-Regular-webfont.svg#frente_h1regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
/* BLACK JACK */
  font-family: 'black_jackregular';
  src: url('../webfont/blackjack-webfont.eot');
  src: url('../webfont/blackjack-webfont.eot?#iefix') format('embedded-opentype'),
       url('../webfont/blackjack-webfont.woff2') format('woff2'),
       url('../webfont/blackjack-webfont.woff') format('woff'),
       url('../webfont/blackjack-webfont.ttf') format('truetype'),
       url('../webfont/blackjack-webfont.svg#black_jackregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

.font_frente,
h1,
h2,
h3 {
  font-family: 'frente_h1regular';
}
.font_blackjack {
  font-family: 'black_jackregular';
}


.fsz_18 {
  font-size: 1.8em;
}
